* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #8ec981;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/background.png');
}

h1, h2, h3 {
    font-family: "Dangrek", sans-serif;
    text-align: center;
    line-height: 1em;
}

h1 {
    font-size: 64px;
}

#bigTitle, #subTitle {
    color: #1f5e82;
}

#bigTitle {
    font-size: 120px;
    
}

#subTitle {
    font-size: 80px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

p {
    font-family: "Uchen", serif;
    font-size: 20px;
    line-height: 1.5em;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

#mainContent {
    background-color: beige;
    box-shadow: 20px 20px #00000060;
    margin: 80px;
    padding: 80px 120px 80px 120px;
    width: 75%;
    max-width: 2560px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}

table {
    border-radius: 10px;
    border-collapse: collapse;
    border-style: hidden;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;;
}

td {
    padding: 0.5em;
    border: 1px solid;
}

.toolCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2em;
}

.toolCardTitle {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: flex-start;
}

.toolCardTitle h3 {
    margin-left: 0.5em;
}

.toolCard {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 42.5%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.toolCard p {
    font-size: 18px;
}

.toolCardIcon {
    width: 50px;
    height: 50px;
}

.screenshot {
    display: block;
    margin: 1em auto 1.5em auto;
    width: 50%;
    height: auto;
    border-radius: 10px;
}